body {
    margin: 0;
}
.area-container {
    display: grid;
    grid-template-areas: 
    ". logo . . menu2 menu3 ."
    ". banner banner banner banner banner ."
    ". . . trending . . ."
    ". promo1 promo2 promo3 promo4 promo5 ."
    ". . . . . . ."
    ". advantages advantages advantages form form ."
    ". . . . . . ."
    ". review1 review2 review3 review4 review5 ."
    ". . . . . . ."
    ".  footer footer footer footer footer .";
    grid-gap: 2vw;
    grid-template-rows: 4vw 40vw 7vw 15vw 3vw 35vw 2vw 20vw 2vw 5vw;
    grid-template-columns: 1vw repeat(5, 1fr) 1vw;
    
    }
img {
    width: 100%;
    height: 100%;
    }
.area-container > * {
    font-size: 2vw;
    
}

.area-item-1 {
    grid-area: logo;
 }
.area-item-2 {
    grid-area: menu2;
}
.area-item-3 {
    grid-area: menu3;
}
.area-item-4 {
    grid-area: banner;
}
    .area-item-5 {
    grid-area: promo1;
    }
    .area-item-6 {
    grid-area: promo2;
    }
    .area-item-7 {
    grid-area: promo3;
    }
    .area-item-8 {
    grid-area: promo4;
    }
    .area-item-9 {
    grid-area: promo5;
    }
    .area-item-10 {
    grid-area: advantages;
    }
    .area-item-11 {
    grid-area: form;
    }
    .area-item-12 {
    grid-area: review1;
    }
    .area-item-13 {
    grid-area: review2;
    }
    .area-item-14 {
    grid-area: review3;
    }
    .area-item-15 {
    grid-area: review4;
    }
    .area-item-16 {
    grid-area: review5;
    }
    .area-item-17 {
    grid-area: footer;
    }

.area-item-1 img {
    width: 7vw;
    height: 5vw;
    margin-bottom: 2vw;
    }
.area-item-1:hover img {
    content: url(../images001/logo-hover.png);
    cursor: pointer;
    }
.area-item-2, .area-item-3 {
    text-align: right;
    margin-right: 2vw;
    font-weight: 550;
    margin-top: 1.6vw;
    }
.area-item-2:hover, .area-item-3:hover {
    cursor: pointer;
    color: rgb(222, 3, 123);
    border-right: solid .5vw  rgb(222, 3, 123);
    padding-right:1vw;
    }
/* Banner section */

.banner-text {
    grid-column: 4/7;
    grid-row: 2/3;
    text-align: center;
    align-self: center; 
 }
 .banner-text-1 {
    padding-left: 7vw;
    padding-bottom: 10vw;
    font-size: 4vw;
    font-weight: 900;
    font-family: 'Coda Caption', sans-serif;
 }
 .banner-text-2 {
    padding-left: 7vw;
    padding-top: 4vw;
    font-size: 3vw;
    font-weight: 500;
    font-family: 'Caveat', cursive, Times, serif;
 }
 
 /*Promo gadgets section*/
 
 h3 {
    grid-area: trending;
    text-align: center;
    align-self: center;
    padding-bottom: 2vw;
    font-size: 3vw;
    margin-top: 5vw;
 }
 
 .area-container div:nth-of-type(n+5):nth-of-type(-n+9)
 {
    border: solid .5vw rgba(235, 233, 233, 0);
 }
 
 .area-container  div:nth-of-type(n+5):nth-of-type(-n+9):hover 
 {
    border-bottom: solid .5vw rgb(255, 234, 9);
    cursor: pointer;
 }
 
 /*Advantages section*/
 
 .area-item-10 {
    display: flex;
 }
 /* Discount section: left */
 
 .discount-advantages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color:#FFB722;
    width: 25%;
    padding: 2vw 0 2vw 0;
 }
 
 .discount-advantages i {
    color:#FF008B;
 }
 .discount-advantages i:hover {
    color:rgb(255, 101, 186);
 }
 .discount-advantages span {
    font-size: 1.0vw;
    font-family:  sans-serif;
 }
 .discount-advantages span:hover {
    letter-spacing: 0.1vw;
 }
 /* Discount section: right */
 
 .discount-card {
 display: flex;
 flex-direction: column;
 width: 75%;
 background-color: #ED673F;
 }
 .discount-card span:nth-of-type(1) {
    font-size: 2.5vw;
    font-family: sans-serif;
    color: rgba(240, 240, 240, 0.79);
    font-weight: 600;
    align-self: center;
    padding-top: 2vw;
 }
 .discount-card span:nth-of-type(2) {
    font-size: 2vw;
    font-style: oblique;
    color: rgb(69, 51, 51);
    align-self: flex-end;
    padding-right: 2vw;
 }
 .discount-card img:nth-of-type(1) {
    align-self: flex-end;
    padding-top: 1vw;
    width: 25vw;
    height: 0.9vw;
 }
 .discount-card img:nth-of-type(2) {
    margin-left:10vw;
    margin-top: 8vw;
    box-shadow: 21px 12px 32px -10px rgba(0,0,0,0.35);
    width: 26vw;
    height: 17vw;
    transform: rotateZ(40deg);
    z-index: 3;
 }
 .discount-card img:nth-of-type(2):hover {
   transform: scale(1.1) rotateZ(40deg);
   box-shadow:  11px 12px 8px -10px rgba(0,0,0,0.25),
                10px 10px 17px 2px rgba(255,240,143,0.7);
 }
 
 /*Form area*/
 
 form {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: lightsteelblue;
 }
 input[type="text"], input[type="email"] {
    margin: 1vw 0 1vw 0;
    width: 80%;
    height: 6%;
    border: none;
 }
 .checkbox {
    display: flex;
    font-size: 1.3vw;
    align-self: flex-start;
    margin-left: 3vw;
 }
 input[type="submit"] {
    width: 50%;
    height: 11%;
    margin-top: 2vw;
    border: solid 0.28vw #FF008B;
    border-radius: 5px;
    background-color: rgba(221, 236, 240, 0.350);
    font-weight: 500;
    font-size: 1.7vw;
 }
 
 input[type=submit]:hover {
 transform: scale(1.1);
 cursor: pointer;
 }
 
 ::placeholder {
    font-size: 1.2vw;
 }
 
 /*quote section*/
 
 .quote {
    background: linear-gradient(to bottom, rgb(249, 254, 255) 30%,rgb(242, 250, 255) 47%,rgba(218, 229, 254, 0.591) 100%);
    text-align: center;
    padding: 0 1vw 0 1vw;
    margin-top: 2vw;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
 }
 
 .quote::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(216, 239, 234, 0.838) 30%,rgba(90, 244, 177, 0.886) 47%,rgba(124, 244, 91, 0.591) 100%);
    z-index: -1;
    transform: translate(0%, 100%);
 }
 
 .quote:hover::after {
    animation: slow-fill 4s forwards;
 }
 
 @keyframes slow-fill {
    0% {
        transform: translate(0%, 100%);
    }
    60% {
        transform: scale(3)
    }
    100% {
        transform: translate(0%, 0%);
        opacity: 0.7;
    }
 }
 
 .quote div:nth-of-type(1) {
    font-size: 5.3vw;
    font-family: 'Caveat', cursive, Times, serif;
    font-weight: 900;
    color: rgb(105, 106, 111);
 }
 .quote div:nth-of-type(2) {
    font-size: 1.3vw;
 }
 .quote div:nth-of-type(3) {
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Caveat', cursive, Times, serif;
    font-style: oblique;
    text-align: end;
    padding: 2vw;
 }
 
 /*Footer area*/
 
 .area-container div:nth-of-type(17){
    background-color: lightslategray;
    text-align: center;
    padding-top: 1.5vw;
    font-size: 1.7vw;
 }
